body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1, 5;

  color: var(--color-general);
  background-color: var(--title-text-color);
}

:root {
  --color-general: #2e2f42;
  --color-additional: #434455;
  --button-color: #4d5ae5;
  --title-text-color: #ffffff;
  --accent-color: #f4f4fd;
  --button-hover-color: #e7e9fc;
}

.list {
  list-style: none;
}

/*HEDER*/

/*logo*/

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-general);
}
.accent-color {
  color: var(--button-color);
}

.logo:hover,
.logo:focus {
  color: var(--button-color);
}

/*nav*/
.nav .nav-link {
  color: var(--color-general);
}
.nav .nav-link:hover,
.nav .nav-link:focus {
  color: var(--button-color);
}

/*address*/

.contact .contact-link {
  color: var(--color-additional);
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--button-color);
}

/*hero*/

.hero {
  background-color: var(--color-general);
}

.hero-title {
  color: var(--title-text-color);
}

.hero-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--button-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
}
/*all section*/

.section-text {
  color: var(--color-additional);
}

/*services*/

/*team*/

.team {
  background-color: var(--accent-color);
}

/*footer*/
.footer {
  background-color: var(--color-general);
}
.footer-accent-color {
  color: var(--title-text-color);
}
.footer-text {
  color: var(--accent-color);
}
