body {
  color: #2e2f42;
  background-color: #ffffff;
}

:root {
  --color-general: #2e2f42;
  --color-additional: #434455;
  --button-color: #4d5ae5;
  --title-text-color: #ffffff;
  --accent-color: #f4f4fd;
  --button-hover-color: #e7e9fc;
}

.list {
  list-style: none;
}

/*HEDER*/

/*logo*/

.logo {
  color: var(--color-general);
}
.logo-ancolor {
  color: var(--button-color);
}

.logo:hover,
.logo:focus {
  color: var(--button-color);
}

/*nav*/
.nav .nav-link {
  color: var(--color-general);
}
.nav .nav-link:hover,
.nav .nav-link:focus {
  color: var(--button-color);
}

/*address*/

.contact .contact-link {
  color: var(--color-additional);
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--button-color);
}

/*hero*/

.hero {
  background-color: var(--color-general);
}

.hero-title {
  color: var(--title-text-color);
}

.hero-button {
  color: var(--title-text-color);
  background-color: var(--button-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
}
/*all section*/

.section-text {
  color: var(--color-additional);
}

/*services*/

/*team*/

.team {
  background-color: var(--accent-color);
}

/*footer*/
.footer {
  background-color: var(--color-general);
}
.footer-logo-ancolor {
  color: var(--title-text-color);
}
.footer-text {
  color: var(--accent-color);
}
